:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid black; */
  height: 50px;
  padding: 0px 5px 0px 5px;
}

.logo {
  font-family: "Rubik", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 200;
  font-style: normal;
  margin: 0;
}

.hero-banner {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: auto;
  width: 100%;
  padding-left: 10%;
  margin-top: -40px;
  margin-bottom: 100px;
}

.hero-background-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
}

.hero-background-image-top {
  height: 70px;
  width: 800px;
  background-size: initial;
  background-repeat: no-repeat;
  background-position: top center;
  clip-path: polygon(45% 0%, 98% 0%, 93% 100%, 40% 100%);
}

.hero-background-image-center {
  height: 500px;
  width: 800px;
  margin: 3px 0px 3px 0px;
  background-size: initial;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
}

.hero-background-image-bottom {
  height: 100px;
  width: 800px;
  background-size: initial;
  background-repeat: no-repeat;
  background-position: bottom center;
  clip-path: polygon(20% 0%, 80% 0%, 73% 100%, 14% 100%);
}

.selected-list-title {
  position: absolute;
  top: 40%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: left;
  padding-right: 10%;
  font-family: "Rubik", sans-serif;
  font-size: 10em;
  color: white;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.list-selection-row {
  margin-left: -180px;
}

/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
